argparse==1.2.1
decorator==4.0.4
ipython==4.0.0
ipython-genutils==0.1.0
numpy==1.10.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
simplegeneric==0.8.1
six==1.10.0
tensorflow==0.5.0
traitlets==4.0.0
wsgiref==0.1.2
